body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-item .item-details {
    display: flex;
    align-items: center;
}

.todo-item .item-details span {
    margin-left: 0.5rem;
    min-width: 5rem;
    padding: 2px 4px;
    border-radius: 4px;
}

.todo-item button {
    margin-left: 1rem;
    font-weight: bold;
    border: none;
    background: none;
    cursor: pointer;
}

input::placeholder {
    text-align: center;
}